@mixin btnMixin ($_btnHeight, $_btnFontSize, $_btnFontWeight, $_btnWidth: unset) {
	min-height: $_btnHeight;
	min-width: $_btnWidth;
    background-color: $mainStyleColorLogoTextBtn;
    color: $mainTextColorBtn;
    font-size: $_btnFontSize;
    font-weight: $_btnFontWeight;
    padding: 8px 16px;
    border: none;
	
	&:hover {
		background-color: lighten($mainStyleColorLogoTextBtn, 6%);
		}
}

@mixin topBlockVerticalRow ($_media) {
	@if $_media == phones {
		@media (max-width: 767px) { 
			height: 141px;
		}
	}
	@else {
		height: 92px;
	}
}