@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  font-family: 'Lato', sans-serif; }

.logo {
  min-width: 176px;
  max-width: 176px;
  background: url("../img/logo.png") no-repeat;
  background-position: center left;
  font-size: 27px;
  font-weight: 300;
  line-height: 51px;
  letter-spacing: 0.68px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 72px; }
  .logo span {
    font-weight: 900;
    color: #f16d7f; }

header {
  min-height: 100px; }
  header .search {
    max-width: 400px;
    border-radius: 3px;
    border: 1px solid #ececec;
    overflow: hidden;
    height: 40px;
    font-weight: 300; }
    header .search .searchBrowse {
      border-right: 1px solid #ececec;
      background-color: #e8e8e8;
      min-width: 91.2px;
      font-size: 14px;
      line-height: 40px;
      color: #222222;
      font-weight: 400; }
    header .search form {
      width: -webkit-fill-available; }
    header .search input {
      width: 98%;
      height: inherit;
      border: none;
      outline: none;
      padding: 14px 16px; }
    header .search button {
      height: 40px;
      width: 40px;
      border: none;
      border-left: 1px solid #ececec;
      background: none; }
  header .myaccountBtn {
    min-height: 40px;
    min-width: unset;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 16px;
    border: none; }
    header .myaccountBtn:hover {
      background-color: #f48997; }

.headerLine {
  border-bottom: solid 1px #ececec; }

nav {
  min-height: 50px;
  position: relative; }
  nav .burgermenu {
    /* display: none; */ }
    nav .burgermenu button {
      color: #898989;
      background-color: #e8e8e8;
      border: none;
      margin: 10px 20px; }
    nav .burgermenu a {
      text-transform: uppercase; }
    nav .burgermenu .myaccountBtnPhones {
      min-height: 40px;
      min-width: unset;
      background-color: #f16d7f;
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      padding: 8px 16px;
      border: none; }
      nav .burgermenu .myaccountBtnPhones:hover {
        background-color: #f48997; }
  nav .mainMenu {
    text-transform: uppercase;
    height: inherit; }
    nav .mainMenu li {
      height: inherit; }
      nav .mainMenu li:not(:last-child) {
        margin-right: 44px; }
      nav .mainMenu li a {
        line-height: 32px;
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 3px solid transparent;
        height: inherit; }
        nav .mainMenu li a:hover {
          border-bottom: 3px solid #f16d7f;
          color: #a2a2a2; }

.topBlock {
  height: 665px;
  background-color: #e8e8e8; }
  .topBlock .topContent {
    height: 100%;
    background: url("../img/topHeaderBack.png") right top no-repeat;
    background-size: 52.5%; }
    .topBlock .topContent .topVerticalRow {
      width: 12px;
      height: inherit;
      background-color: #f16d7f; }
    .topBlock .topContent .topContentText {
      font-size: 3.8rem;
      line-height: 43px;
      font-weight: 900;
      color: #222222;
      margin-left: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 1.5px; }
    .topBlock .topContent span {
      font-size: 2.5rem;
      letter-spacing: 1px;
      line-height: 100%; }
      .topBlock .topContent span span {
        color: #f16d7f; }

.offersBlock {
  position: relative; }
  .offersBlock img {
    object-position: center center;
    object-fit: contain; }
  .offersBlock .offersContent {
    position: absolute;
    padding: 16px 18px;
    height: 82px;
    top: 26px;
    line-height: 140%;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 1000;
    color: #222222;
    text-align: left; }
    .offersBlock .offersContent span {
      font-size: 30px;
      letter-spacing: 0.75px;
      color: #f16d7f; }

.FeturedItems {
  min-height: 1000px;
  margin-top: 63px; }
  .FeturedItems h2 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px; }
  .FeturedItems h4 {
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #898989; }
  .FeturedItems .feturedBlock {
    width: 263px;
    height: 364px; }
    .FeturedItems .feturedBlock .featured-text {
      font-size: 13px;
      color: #222222;
      font-weight: 700;
      text-transform: uppercase; }
    .FeturedItems .feturedBlock .featured-price {
      font-size: 16px;
      font-weight: bold;
      color: #f16d7f; }
    .FeturedItems .feturedBlock .featuredImgWrap {
      height: 280px;
      position: relative; }
      .FeturedItems .feturedBlock .featuredImgWrap img {
        object-position: center center;
        object-fit: cover; }
      .FeturedItems .feturedBlock .featuredImgWrap .featuredBuy {
        height: inherit;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        position: absolute; }
        .FeturedItems .feturedBlock .featuredImgWrap .featuredBuy button {
          padding: 15px;
          border: 1px solid #ffffff;
          background: none;
          color: #ffffff;
          font-size: 13px;
          font-weight: 700; }
    .FeturedItems .feturedBlock:nth-child(n+5) {
      margin-top: 27px; }
    .FeturedItems .feturedBlock:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }
      .FeturedItems .feturedBlock:hover .featuredBuy {
        display: flex; }
  .FeturedItems .fetured-btn {
    min-height: 48px;
    min-width: unset;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px;
    border: none; }
    .FeturedItems .fetured-btn:hover {
      background-color: #f48997; }

.discountBanner {
  min-height: 530px;
  margin-top: 60px;
  margin-bottom: 97px;
  background-color: #222222;
  position: relative; }
  .discountBanner .discountBanner-img {
    object-fit: cover;
    object-position: center center; }
  .discountBanner .offer-text {
    position: absolute;
    top: 146px;
    left: 39px;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 42px; }
    .discountBanner .offer-text span {
      font-size: 32px;
      letter-spacing: 0.9px; }
    .discountBanner .offer-text span:first-child {
      color: #f16d7f;
      font-size: 54px;
      letter-spacing: 1.5px;
      font-weight: 900; }
  .discountBanner .discountBannerBlocks .bannerBlock .banner-content {
    color: #ffffff; }
    .discountBanner .discountBannerBlocks .bannerBlock .banner-content .banner-title {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px; }
    .discountBanner .discountBannerBlocks .bannerBlock .banner-content .banner-text {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      letter-spacing: 0.35px; }

.subscribe-bg {
  min-height: 450px;
  background: url(../img/subscribe_bg.jpg) no-repeat, #ccc;
  background-blend-mode: overlay;
  background-size: 100% 100%; }
  .subscribe-bg .subscribe {
    min-height: inherit;
    position: relative; }
    .subscribe-bg .subscribe .subscribe-left,
    .subscribe-bg .subscribe .subscribe-right {
      width: calc(100% - 1px); }
    .subscribe-bg .subscribe .subscribe-left .subscribe-citata {
      font-size: 16px;
      font-style: italic;
      line-height: 1.63;
      letter-spacing: 0.4px;
      font-weight: 700;
      color: #222222;
      margin-left: 28px; }
      .subscribe-bg .subscribe .subscribe-left .subscribe-citata .citata-author {
        font-style: normal;
        color: #f16d7f;
        margin-top: 19px; }
        .subscribe-bg .subscribe .subscribe-left .subscribe-citata .citata-author span {
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.17;
          letter-spacing: 0.3px;
          color: #222222; }
      .subscribe-bg .subscribe .subscribe-left .subscribe-citata .citata-pagination {
        margin-top: 41px; }
        .subscribe-bg .subscribe .subscribe-left .subscribe-citata .citata-pagination .citata-line {
          width: 38px;
          height: 4px;
          background-color: #d6d6d6;
          margin-right: 13px; }
          .subscribe-bg .subscribe .subscribe-left .subscribe-citata .citata-pagination .citata-line:hover {
            background-color: #f16d7f; }
    .subscribe-bg .subscribe .subscribe-right .subscribe-text {
      font-size: 24px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 35px;
      line-height: 1;
      color: #222222; }
      .subscribe-bg .subscribe .subscribe-right .subscribe-text span {
        font-size: 14px;
        letter-spacing: 0.35px; }
    .subscribe-bg .subscribe .subscribe-right .subscribe-input {
      width: 390px;
      height: 46px;
      border-radius: 23px; }
      .subscribe-bg .subscribe .subscribe-right .subscribe-input input {
        height: inherit;
        border: none;
        outline: none;
        padding-left: 28px;
        width: 291px;
        background-color: #e8e8e8;
        color: #898989;
        font-weight: 700;
        font-size: 14px;
        line-height: 3.86;
        letter-spacing: 0.35px;
        float: left; }
      .subscribe-bg .subscribe .subscribe-right .subscribe-input .subscribe-btn {
        padding: 0px;
        min-height: 51px;
        min-width: unset;
        background-color: #f16d7f;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        padding: 8px 16px;
        border: none; }
        .subscribe-bg .subscribe .subscribe-right .subscribe-input .subscribe-btn:hover {
          background-color: #f48997; }
    .subscribe-bg .subscribe .shape {
      position: absolute;
      left: 50%;
      width: 1px;
      height: inherit;
      background-color: #ececec; }

.footer-content {
  min-height: 358px;
  padding-top: 100px; }
  .footer-content .footer-text {
    width: 39%; }
    .footer-content .footer-text .footer-h4 {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      letter-spacing: 0.35px;
      color: #898989; }
  .footer-content .footer-menu {
    font-size: 16px;
    line-height: 2.63;
    letter-spacing: 0.4px;
    font-weight: 300; }
    .footer-content .footer-menu .footer-menuItem {
      font-size: 16px;
      line-height: 2.63;
      letter-spacing: 0.4px;
      color: #898989;
      text-decoration: none;
      font-weight: 700; }
      .footer-content .footer-menu .footer-menuItem:not(:first-child):hover {
        color: #d6d6d6; }
      .footer-content .footer-menu .footer-menuItem:first-child {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44;
        letter-spacing: 0.45px;
        color: #f16d7f;
        text-transform: uppercase;
        margin-bottom: 15%; }

.copyright {
  height: 80px;
  background-color: #e8e8e8; }
  .copyright .footer-copyright {
    height: inherit; }
    .copyright .footer-copyright .social-block {
      line-height: 35px;
      height: 35px;
      width: 35px;
      border-radius: 2px;
      background-color: white;
      margin-right: 10px;
      color: #898989; }
      .copyright .footer-copyright .social-block:hover {
        background: #f16d7f;
        color: #ffffff;
        cursor: pointer; }
      .copyright .footer-copyright .social-block:active {
        background: #cfcfcf; }

@media (min-width: 1200px) {
  .offers {
    height: 815px; } }
@media (max-width: 1200px) {
  nav .mainMenu li:not(:last-child) {
    margin-right: 0px; }

  .offers {
    height: 1630px; } }
@media (max-width: 768px) {
  nav .mainMenu li a {
    font-size: 13px;
    padding: 4px 8px; } }
@media (min-width: 576px) and (max-width: 768px) {
  .topBlock {
    height: 490px; } }
@media (max-width: 575px) {
  .offers {
    height: 1060px;
    margin-top: 10px !important; }
    .offers .offersBlock img {
      width: 360px; }

  .subscribe-bg .subscribe .subscribe-right .subscribe-input {
    width: 300px; }

  .topBlock {
    height: 370px; }
    .topBlock .topContent div .topContentText {
      font-size: 2.8rem; }
      .topBlock .topContent div .topContentText span {
        font-size: 2rem; }

  .footer-content .footer-menu .footer-menuItem {
    font-size: 11px; }

  .footer-content .footer-menu .footer-menuItem:first-child {
    font-size: 13px; }

  .discountBanner {
    margin-bottom: 0px; }

  .subscribe-bg {
    padding-top: 20px; } }
@media (min-width: 435px) and (max-width: 575px) {
  .topBlock {
    height: 370px; }
    .topBlock .topContent div .topContentText {
      font-size: 2.8rem; }
      .topBlock .topContent div .topContentText span {
        font-size: 2rem; } }
@media (max-width: 435px) {
  .topBlock {
    height: 300px; } }

/*# sourceMappingURL=style1.css.map */
