.product {
  margin-top: 71px; }
  .product .leftCatalog .card {
    border: none;
    margin: 0px;
    padding: 0px; }
    .product .leftCatalog .card .card-header {
      border: none;
      background: none; }
      .product .leftCatalog .card .card-header button {
        margin: 0px;
        padding: 11px;
        color: #f16d7f;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        border-left: 5px solid #f16d7f;
        border-bottom: 1px solid #ebebeb;
        border-radius: 0px; }
      .product .leftCatalog .card .card-header .btn:focus {
        text-decoration: none;
        box-shadow: none; }
    .product .leftCatalog .card .card-body {
      padding: 0px; }
      .product .leftCatalog .card .card-body a {
        color: #6f6e6e;
        font-size: 14px;
        font-weight: 400;
        line-height: 33px;
        text-decoration: none;
        padding: 0px 0px 0px 37px; }
        .product .leftCatalog .card .card-body a:hover {
          color: #f48997; }
  .product .rightCatalog .rightProduct {
    color: #6f6e6e; }
    .product .rightCatalog .rightProduct h4 {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase; }
    .product .rightCatalog .rightProduct a {
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-decoration: none; }
      .product .rightCatalog .rightProduct a:hover {
        color: #f48997; }
    .product .rightCatalog .rightProduct .productTrend p {
      margin-top: 16px; }
    .product .rightCatalog .rightProduct .productTrend a {
      margin: 0px 10px; }
      .product .rightCatalog .rightProduct .productTrend a:first-child {
        margin-left: 0px; }
      .product .rightCatalog .rightProduct .productTrend a:nth-child(5) {
        margin-left: 0px; }
  .product .rightCatalog .productSize div {
    width: 40px; }
    .product .rightCatalog .productSize div .form-check-input {
      color: #ebebeb; }
  .product .rightCatalog .productPrice form {
    margin-top: 21px; }
  .product .rightCatalog .productPrice .form-control-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 3px; }
    .product .rightCatalog .productPrice .form-control-range:hover {
      opacity: 1; }
    .product .rightCatalog .productPrice .form-control-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 14px;
      height: 14px;
      background: #f16d7f;
      cursor: pointer;
      border-radius: 50%; }
    .product .rightCatalog .productPrice .form-control-range::-moz-range-thumb {
      width: 14px;
      height: 14px;
      background: #f16d7f;
      cursor: pointer;
      border-radius: 50%; }
    .product .rightCatalog .productPrice .form-control-range::-webkit-fill-lower {
      background: #f16d7f;
      border-radius: #f16d7f; }
  .product .rightCatalog .productPrice span {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; }
  .product .rightCatalog .rightProductSort {
    background-color: #f3f3f3;
    height: 50px;
    margin: 45px 0px; }
    .product .rightCatalog .rightProductSort span {
      display: inline-block;
      padding-left: 12px;
      padding-right: 9px;
      color: #6f6e6e;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      height: 100%;
      line-height: 30px; }
      .product .rightCatalog .rightProductSort span i {
        margin-left: 11px;
        color: #6f6e6e; }
    .product .rightCatalog .rightProductSort span:nth-child(odd) {
      border-right: 1px solid #ebebeb; }
    .product .rightCatalog .rightProductSort .rightProductSortName {
      width: 153px;
      height: 30px;
      border: 1px solid #ebebeb;
      background-color: #ffffff; }
    .product .rightCatalog .rightProductSort .rightProductSortShow {
      width: 119px;
      height: 30px;
      border: 1px solid #ebebeb;
      background-color: #ffffff; }
  .product .rightCatalogList {
    margin-top: 28px; }
    .product .rightCatalogList .catalogListBlock {
      margin: 20px 0px;
      padding-bottom: 20px; }
      .product .rightCatalogList .catalogListBlock:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
        cursor: pointer; }
  .product nav {
    margin-top: 40px; }
    .product nav a, .product nav span {
      border: none;
      color: #c4c4c4;
      font-size: 16px;
      font-weight: bold;
      line-height: 26px; }
    .product nav li:hover > a {
      color: #f48997; }
    .product nav li:hover > a > span {
      color: #f48997; }
    .product nav .dots {
      padding-top: 8px;
      letter-spacing: 2px; }
  .product .buttonViewAll {
    width: 150px;
    height: 44px;
    text-align: center;
    border: 1px solid #f16d7f;
    border-radius: 3px;
    background-color: #ffffff;
    text-decoration: none; }
    .product .buttonViewAll:hover {
      border: 1px solid #f16d7f;
      background-color: #f7f7f7; }
      .product .buttonViewAll:hover a {
        text-decoration: none; }
    .product .buttonViewAll p {
      color: #f16d7f;
      font-size: 16px;
      font-weight: 700;
      line-height: 44px; }

.productFeaturesBG {
  height: 341px;
  background-color: #222222;
  margin-top: 100px; }
  .productFeaturesBG .productFeatures .banner-content {
    color: #ffffff; }
    .productFeaturesBG .productFeatures .banner-content .banner-title {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px; }
    .productFeaturesBG .productFeatures .banner-content .banner-text {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.71;
      letter-spacing: 0.35px; }

/*# sourceMappingURL=product.css.map */
